@import './assets/stylesheets/media-query.scss';
@import './assets/stylesheets/utils.scss';
@import './assets/stylesheets/flex-point.scss';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.7;
  background: $background-primary;
}

.app {
  min-height: 100vh;
  height: auto;
  @include flexPoint(column, center);
}
// Main app
.header {
  padding-top: 12px;
  background: $white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 24px 16px;
  padding: 20px;
}

.trigger-btn {
  font-size: 16px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.welcome-text {
  display: none !important;
  @include responsive('tab') {
    display: block !important;
  }
}

// Sider
.sider {
  height: 100vh;
  position: sticky;
  left: 0;
  bottom: 0;
  top: 0;
}

.logo {
  color: $mint-green;
  margin: 40px 0;
  font-size: 1.5rem;
}

.menu-bar {
  @include flexPoint(column, center);
  gap: 10px;
  font-weight: 500;
}
.ant-menu-item-selected {
  background-color: $mint-green !important;
  color: white !important;
}

.header-icon {
  background: $mid-grey;
  padding: 0.8rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  color: $mint-green;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5rem 5rem;
  overflow: scroll;
  .title-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    button {
      background-color: $mint-green;
    }
    button:hover {
      background-color: $mint-green !important;
      opacity: 0.8;
    }
  }
  .main-title {
    font-size: 2rem;
    font-weight: 500;
  }
  .data-table {
    width: 50%;
    cursor: pointer;
    @include responsive('tab') {
      width: 100%;
    }
  }
}
