//color variable
$text-grey: #333; // Text Primary
$background-grey: #dde6ed;
$background-primary: #f1f1f1;
$mint-green: #4f6f52;
$mid-grey: #d2e3c8;
$very-grey: #999;
$text-black: #000; // Text Primary
$text-white: #fff; // Text Primary
$dirty-white: #c4c4c4; //#f1f1f1;
$orange: #ffb800;
$white: #fff;
$black: #000;
$ash: #f1f1f1;
$shadow: 0.1rem 0.2rem 2rem #ddd;
